.navTab {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.navTab a {
    margin: 10px;
    text-decoration: none;
}

.activeTab {
    text-decoration: underline !important;
    font-weight: bolder;
}

.Navbar {
    padding: 10px;
    background-color: bisque;
}