.tableContainer {
    width: 90%; 
    margin: auto;
    overflow-x: scroll;
}

.table {
    width: 100%;
}

.table, .table th, .table td {
    border: 1px solid rgb(230, 230, 230);
    border-collapse: collapse;
    padding: 5px 2px;
}

.table .action {
    cursor: pointer;
    text-decoration: underline;
}

.pagination {
    margin-top: 20px;
}

.paginationAction {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
}